@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 24, ../scss/sass/screen.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab";
  background-color: #ebebeb;
}

/* line 33, ../scss/sass/screen.scss */
div, button, ul, li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../scss/sass/screen.scss */
.main-header {
  position: fixed;
  background-color: #4374e0;
  width: 100%;
  min-height: 29px;
  top: 0;
  z-index: 300;
}
/* line 44, ../scss/sass/screen.scss */
.main-header .inner-header {
  position: relative;
  background-color: #4374e0;
  z-index: 400;
}
/* line 48, ../scss/sass/screen.scss */
.main-header .inner-header .logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px 10px 8px 20px;
  content: "";
  width: 111px;
  height: 29px;
  background-image: url(../images/dinside.svg);
  background-size: 111px 29px;
  background-repeat: no-repeat;
}
/* line 62, ../scss/sass/screen.scss */
.main-header .inner-header .category-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-left: 150px solid transparent;
  border-right: 200px solid transparent;
  max-height: 46px;
  overflow: hidden;
  position: relative;
}
/* line 73, ../scss/sass/screen.scss */
.main-header .inner-header .category-menu .category {
  vertical-align: top;
  font-family: "Roboto";
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 14px 30px 14px 10px;
  position: relative;
  display: inline-block;
}
/* line 83, ../scss/sass/screen.scss */
.main-header .inner-header .category-menu .category:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  right: 14px;
  bottom: 16px;
  background-size: 8px 8px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
}
/* line 97, ../scss/sass/screen.scss */
.main-header .inner-header .category-menu .category:hover, .main-header .inner-header .category-menu .category.active {
  background-color: white;
  color: #4374e0;
  cursor: pointer;
}
/* line 103, ../scss/sass/screen.scss */
.main-header .inner-header .category-menu .category:hover:after, .main-header .inner-header .category-menu .category.active:after {
  background-image: url(../images/arrow-blue.svg);
}
/* line 111, ../scss/sass/screen.scss */
.main-header .inner-header .search {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 46px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 118, ../scss/sass/screen.scss */
.main-header .inner-header .search .submit-magnifying {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 46px;
  height: 46px;
  border: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  background-image: url(../images/magnifying-glass.svg);
  background-size: 22px auto;
  background-position: 10px 14px;
  background-repeat: no-repeat;
  background-color: transparent;
}
/* line 136, ../scss/sass/screen.scss */
.main-header .inner-header .search .search-phrase {
  width: 100px;
  height: 10px;
  display: inline-block;
  font-size: 14px;
  height: 46px;
  width: 150px;
  color: white;
  font-family: "Roboto Slab";
  padding: 0 0 0 52px;
  margin: 0;
  border: 0;
  vertical-align: top;
  background-color: transparent;
}
/* line 153, ../scss/sass/screen.scss */
.main-header .category-subsection {
  position: absolute;
  top: -260px;
  left: 0;
  width: 100%;
  background-color: white;
  height: 250px;
  overflow: hidden;
  z-index: 200;
  border-bottom: 4px solid #4374e0;
  -webkit-transition: top 300ms ease;
  -moz-transition: top 300ms ease;
  -o-transition: top 300ms ease;
  transition: top 300ms ease;
}
/* line 167, ../scss/sass/screen.scss */
.main-header .category-subsection.visible {
  top: 46px;
  -webkit-transition: top 300ms ease;
  -moz-transition: top 300ms ease;
  -o-transition: top 300ms ease;
  transition: top 300ms ease;
  min-height: 250px;
}
/* line 174, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 178, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles .article {
  display: inline-block;
  width: 200px;
  margin: 15px 0px 25px 20px;
  vertical-align: top;
}
/* line 183, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles .article .article-image {
  height: 115px;
  width: 100%;
  overflow: hidden;
}
/* line 187, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles .article .article-image img {
  width: 200px;
  -webkit-filter: saturate(0.6);
  -moz-filter: saturate(0.6);
  filter: saturate(0.6);
  -webkit-transition: filter 400ms, -webkit-filter 400ms;
  -moz-transition: filter 400ms, -webkit-filter 400ms;
  -o-transition: filter 400ms, -webkit-filter 400ms;
  transition: filter 400ms, -webkit-filter 400ms;
}
/* line 191, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles .article .article-image img:hover {
  -webkit-filter: saturate(1.3);
  -moz-filter: saturate(1.3);
  filter: saturate(1.3);
  -webkit-transition: filter 400ms, -webkit-filter 400ms;
  -moz-transition: filter 400ms, -webkit-filter 400ms;
  -o-transition: filter 400ms, -webkit-filter 400ms;
  transition: filter 400ms, -webkit-filter 400ms;
}
/* line 197, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles .article .article-header {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

/* line 205, ../scss/sass/screen.scss */
.main-content-wrapper {
  width: 100%;
  margin-top: 160px;
}
/* line 208, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container {
  width: 980px;
  margin: 60px auto 0 auto;
}
@media only screen and (min-width: 1025px) {
  /* line 208, ../scss/sass/screen.scss */
  .main-content-wrapper .main-content-container {
    width: 1100px;
  }
}
/* line 216, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row {
  width: 100%;
  padding: 0;
  height: 100%;
  *zoom: 1;
}
/* line 221, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row.white {
  background-color: white;
}
/* line 229, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1,
.main-content-wrapper .main-content-container .row .col-2,
.main-content-wrapper .main-content-container .row .col-3,
.main-content-wrapper .main-content-container .row .col-4,
.main-content-wrapper .main-content-container .row .col-5,
.main-content-wrapper .main-content-container .row .col-6 {
  display: inline-block;
  background-color: white;
  float: left;
  position: relative;
  padding-bottom: 30px;
}
/* line 236, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1:before,
.main-content-wrapper .main-content-container .row .col-2:before,
.main-content-wrapper .main-content-container .row .col-3:before,
.main-content-wrapper .main-content-container .row .col-4:before,
.main-content-wrapper .main-content-container .row .col-5:before,
.main-content-wrapper .main-content-container .row .col-6:before {
  position: absolute;
  content: attr(data-category);
  background-color: #a0a0a0;
  font-size: 18px;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  top: 10px;
  left: -10px;
  z-index: 100;
}
/* line 248, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1:after,
.main-content-wrapper .main-content-container .row .col-2:after,
.main-content-wrapper .main-content-container .row .col-3:after,
.main-content-wrapper .main-content-container .row .col-4:after,
.main-content-wrapper .main-content-container .row .col-5:after,
.main-content-wrapper .main-content-container .row .col-6:after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  top: 54px;
  width: 10px;
  height: 15px;
  background-image: url(../images/arrow-black.svg);
  background-size: 11px 15px;
  background-repeat: no-repeat;
  z-index: 80;
}
/* line 264, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .tiny-col,
.main-content-wrapper .main-content-container .row .col-2 .tiny-col,
.main-content-wrapper .main-content-container .row .col-3 .tiny-col,
.main-content-wrapper .main-content-container .row .col-4 .tiny-col,
.main-content-wrapper .main-content-container .row .col-5 .tiny-col,
.main-content-wrapper .main-content-container .row .col-6 .tiny-col {
  position: relative;
  width: 100%;
  padding: 10px;
}
/* line 268, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .tiny-col .article-image,
.main-content-wrapper .main-content-container .row .col-2 .tiny-col .article-image,
.main-content-wrapper .main-content-container .row .col-3 .tiny-col .article-image,
.main-content-wrapper .main-content-container .row .col-4 .tiny-col .article-image,
.main-content-wrapper .main-content-container .row .col-5 .tiny-col .article-image,
.main-content-wrapper .main-content-container .row .col-6 .tiny-col .article-image {
  position: absolute;
  width: 80px;
  height: 60px;
  top: 50%;
  margin-top: -30px;
  left: 10px;
  overflow: hidden;
}
/* line 276, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .tiny-col .article-image img,
.main-content-wrapper .main-content-container .row .col-2 .tiny-col .article-image img,
.main-content-wrapper .main-content-container .row .col-3 .tiny-col .article-image img,
.main-content-wrapper .main-content-container .row .col-4 .tiny-col .article-image img,
.main-content-wrapper .main-content-container .row .col-5 .tiny-col .article-image img,
.main-content-wrapper .main-content-container .row .col-6 .tiny-col .article-image img {
  width: 115%;
}
/* line 280, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .tiny-col .article-header,
.main-content-wrapper .main-content-container .row .col-2 .tiny-col .article-header,
.main-content-wrapper .main-content-container .row .col-3 .tiny-col .article-header,
.main-content-wrapper .main-content-container .row .col-4 .tiny-col .article-header,
.main-content-wrapper .main-content-container .row .col-5 .tiny-col .article-header,
.main-content-wrapper .main-content-container .row .col-6 .tiny-col .article-header {
  font-size: 14px;
  padding: 10px 10px 10px 100px;
}
/* line 286, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .tiny-col:nth-of-type(1),
.main-content-wrapper .main-content-container .row .col-2 .tiny-col:nth-of-type(1),
.main-content-wrapper .main-content-container .row .col-3 .tiny-col:nth-of-type(1),
.main-content-wrapper .main-content-container .row .col-4 .tiny-col:nth-of-type(1),
.main-content-wrapper .main-content-container .row .col-5 .tiny-col:nth-of-type(1),
.main-content-wrapper .main-content-container .row .col-6 .tiny-col:nth-of-type(1) {
  margin-top: 60px;
}
/* line 290, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 {
  width: 16.66667%;
  height: 100%;
}
/* line 293, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .article-header {
  font-size: 18px;
}
/* line 297, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .article-image {
  max-height: 200px;
}
/* line 304, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-2 {
  width: 33.333332%;
}
/* line 306, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-2 .article-header {
  font-size: 22px;
}
/* line 309, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-2 .article-image {
  max-height: 240px;
}
/* line 311, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-2 .article-image img {
  width: 110%;
}
/* line 317, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-2:nth-of-type(1),
.main-content-wrapper .main-content-container .row .col-2:nth-of-type(2) {
  padding-right: 10px;
}
/* line 320, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-3 {
  width: 50%;
}
/* line 322, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-3 .article-header {
  font-size: 28px;
}
/* line 325, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-3 .article-image {
  max-height: 300px;
}
/* line 327, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-3 .article-image img {
  width: 100%;
}
/* line 332, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-3:nth-of-type(1) {
  padding-right: 10px;
}
/* line 335, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-4 {
  width: 66.66667%;
}
/* line 337, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-4 .article-header {
  font-size: 32px;
}
/* line 340, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-4:before {
  background-color: #4374e0;
}
/* line 344, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .article-image {
  max-height: 400px;
  overflow: hidden;
  position: relative;
}
/* line 349, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .article-image img {
  width: 100%;
}
/* line 353, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .article-header {
  padding: 20px;
  margin: 0;
}
/* line 361, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row:before, .main-content-wrapper .main-content-container .row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 365, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row:after {
  clear: both;
}

/* line 372, ../scss/sass/screen.scss */
.article-image {
  position: relative;
}
/* line 374, ../scss/sass/screen.scss */
.article-image:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 60px 10px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 60px 10px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 60px 10px inset;
  -webkit-transition: box-shadow 400ms ease;
  -moz-transition: box-shadow 400ms ease;
  -o-transition: box-shadow 400ms ease;
  transition: box-shadow 400ms ease;
}
/* line 385, ../scss/sass/screen.scss */
.article-image:hover:after {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 60px 20px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 60px 20px inset;
  box-shadow: rgba(0, 0, 0, 0) 0 0 60px 20px inset;
  -webkit-transition: box-shadow 400ms ease;
  -moz-transition: box-shadow 400ms ease;
  -o-transition: box-shadow 400ms ease;
  transition: box-shadow 400ms ease;
}
