@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 22, ../scss/sass/screen.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab";
  background-color: #ebebeb;
}

/* line 31, ../scss/sass/screen.scss */
div, button, ul, li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, ../scss/sass/screen.scss */
.main-header {
  position: fixed;
  background-color: #4374e0;
  width: 100%;
  min-height: 29px;
  top: 0;
  z-index: 200;
}
/* line 43, ../scss/sass/screen.scss */
.main-header .logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px 10px 8px 20px;
  content: "";
  width: 111px;
  height: 29px;
  background-image: url(../images/dinside.svg);
  background-size: 111px 29px;
  background-repeat: no-repeat;
}
/* line 57, ../scss/sass/screen.scss */
.main-header .category-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-left: 150px solid transparent;
  border-right: 200px solid transparent;
  max-height: 46px;
  overflow: hidden;
}
/* line 67, ../scss/sass/screen.scss */
.main-header .category-menu .category {
  font-family: "Roboto";
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 14px 30px 14px 10px;
  position: relative;
  display: inline-block;
}
/* line 76, ../scss/sass/screen.scss */
.main-header .category-menu .category:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  right: 14px;
  bottom: 16px;
  background-size: 8px 8px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
}
/* line 90, ../scss/sass/screen.scss */
.main-header .category-menu .category:hover, .main-header .category-menu .category.active {
  background-color: white;
  color: #4374e0;
  cursor: pointer;
}
/* line 96, ../scss/sass/screen.scss */
.main-header .category-menu .category:hover:after, .main-header .category-menu .category.active:after {
  background-image: url(../images/arrow-blue.svg);
}
/* line 104, ../scss/sass/screen.scss */
.main-header .search {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 46px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 111, ../scss/sass/screen.scss */
.main-header .search .submit-magnifying {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 46px;
  height: 46px;
  border: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  background-image: url(../images/magnifying-glass.svg);
  background-size: 22px auto;
  background-position: 10px 14px;
  background-repeat: no-repeat;
  background-color: transparent;
}
/* line 129, ../scss/sass/screen.scss */
.main-header .search .search-phrase {
  width: 100px;
  height: 10px;
  display: inline-block;
  font-size: 14px;
  height: 46px;
  width: 150px;
  color: white;
  font-family: "Roboto Slab";
  padding: 0 0 0 52px;
  margin: 0;
  border: 0;
  vertical-align: top;
  background-color: transparent;
}
/* line 145, ../scss/sass/screen.scss */
.main-header .category-subsection {
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  background-color: white;
  height: 0;
  overflow: hidden;
  z-index: 200;
  -webkit-transition: height 200ms ease;
  -moz-transition: height 200ms ease;
  -o-transition: height 200ms ease;
  transition: height 200ms ease;
}
/* line 158, ../scss/sass/screen.scss */
.main-header .category-subsection.visible {
  -webkit-transition: height 200ms ease;
  -moz-transition: height 200ms ease;
  -o-transition: height 200ms ease;
  transition: height 200ms ease;
  height: 200px;
  border-bottom: 4px solid #4374e0;
}
/* line 164, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 168, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles .article {
  display: inline-block;
  width: 200px;
  margin: 15px 0px 25px 20px;
}
/* line 172, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles .article .article-image {
  height: 115px;
  width: 100%;
  overflow: hidden;
}
/* line 176, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles .article .article-image img {
  width: 200px;
  -webkit-filter: saturate(0.6);
  -moz-filter: saturate(0.6);
  filter: saturate(0.6);
  -webkit-transition: filter 400ms, -webkit-filter 400ms;
  -moz-transition: filter 400ms, -webkit-filter 400ms;
  -o-transition: filter 400ms, -webkit-filter 400ms;
  transition: filter 400ms, -webkit-filter 400ms;
}
/* line 180, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles .article .article-image img:hover {
  -webkit-filter: saturate(1.3);
  -moz-filter: saturate(1.3);
  filter: saturate(1.3);
  -webkit-transition: filter 400ms, -webkit-filter 400ms;
  -moz-transition: filter 400ms, -webkit-filter 400ms;
  -o-transition: filter 400ms, -webkit-filter 400ms;
  transition: filter 400ms, -webkit-filter 400ms;
}
/* line 186, ../scss/sass/screen.scss */
.main-header .category-subsection .subsection-articles .article .article-header {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

/* line 194, ../scss/sass/screen.scss */
.main-content-wrapper {
  width: 100%;
}
/* line 196, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container {
  width: 980px;
  margin: 60px auto 0 auto;
}
@media only screen and (min-width: 1025px) {
  /* line 196, ../scss/sass/screen.scss */
  .main-content-wrapper .main-content-container {
    width: 1100px;
  }
}
/* line 204, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row {
  width: 100%;
  padding: 0;
  height: 100%;
  *zoom: 1;
}
/* line 209, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row.white {
  background-color: white;
}
/* line 214, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1,
.main-content-wrapper .main-content-container .row .col-2,
.main-content-wrapper .main-content-container .row .col-3 {
  display: inline-block;
  background-color: white;
  float: left;
  position: relative;
}
/* line 220, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1:before,
.main-content-wrapper .main-content-container .row .col-2:before,
.main-content-wrapper .main-content-container .row .col-3:before {
  position: absolute;
  content: attr(data-category);
  background-color: #4374e0;
  font-size: 18px;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  top: 10px;
  left: -10px;
  z-index: 100;
}
/* line 232, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1:after,
.main-content-wrapper .main-content-container .row .col-2:after,
.main-content-wrapper .main-content-container .row .col-3:after {
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  top: 54px;
  width: 10px;
  height: 15px;
  background-image: url(../images/arrow-black.svg);
  background-size: 10px 15px;
  background-repeat: no-repeat;
  z-index: 80;
}
/* line 248, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 {
  width: 33.3332%;
  height: 100%;
}
/* line 251, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .article-header {
  font-size: 22px;
}
/* line 255, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .tiny-col:nth-of-type(1) {
  margin-top: 60px;
}
/* line 259, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .tiny-col {
  position: relative;
  width: 100%;
  padding: 10px;
}
/* line 263, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .tiny-col .article-image {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
/* line 270, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .tiny-col .article-image img {
  width: 80px;
}
/* line 274, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-1 .tiny-col .article-header {
  font-size: 14px;
  padding: 10px 10px 10px 100px;
}
/* line 280, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-2 {
  width: 66.6666%;
}
/* line 282, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-2 .article-header {
  font-size: 33px;
}
/* line 286, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .col-3 {
  width: 100%;
}
/* line 289, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .article-image {
  max-height: 400px;
  overflow: hidden;
  position: relative;
}
/* line 294, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .article-image img {
  max-width: 100%;
}
/* line 298, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row .article-header {
  padding: 20px;
  margin: 0;
}
/* line 306, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row:before, .main-content-wrapper .main-content-container .row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 310, ../scss/sass/screen.scss */
.main-content-wrapper .main-content-container .row:after {
  clear: both;
}

/* line 317, ../scss/sass/screen.scss */
.article-image {
  -webkit-box-shadow: 0px 0px 5px 0 0 10px 1px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px 0px 5px 0 0 10px 1px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0px 0px 5px 0 0 10px 1px rgba(0, 0, 0, 0.5) inset;
}
