/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass";
@import "animation";
@import "_base";


$otherThanPhone: "only screen and (min-width : 602px)";
$otherThanPhoneAndIpad: "only screen and (min-width : 1025px)";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);



$regularFont : 'Ubuntu';
$thinFont : 'Vollkorn';

@include keying(playing) {
  from {
    background-position: 0px;
  }
  to {
    background-position: -300px;
  }
}

@include keying(goombaAnimation) {
  from {
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    margin-left: 0;
    margin-top: 0;
  }
  to {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
  }
}

@include keying(jumping) {
  0% {
    left: -5%;
    top: 80px;
  }
  30%,90% {
    top: 100px;
  }
  60% {
    top: 80px;
  }
  100% {
    top: 100px;
    left: 110%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $regularFont;
  background-color: rgba(0,0,0,1);
  color: white;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: {
    image: url(../img/top-header.jpg);
    position: center top;
    attachment: fixed;
  }
  height: 250px;
  overflow: hidden;
  @media #{$otherThanPhoneAndIpad} {
    @include transition(background-position 200ms linear);
  }

  &.tiny {
    background: {
      position: auto -50px;
    }
    @media #{$otherThanPhoneAndIpad} {
      @include transition(background-position 200ms linear);
    }
  }

  .link-sprite-container {
    position: fixed;
    top: 10px;
    width: 50px;
    height: 50px;
    
    @include animation(jumping 10s infinite linear);
    @media #{$otherThanPhoneAndIpad} {
      @include animation(jumping 15s infinite linear);  
    }
    .link-sprite {
      width: 50px;
      height: 50px;
      background: url(../img/link-sprite.png);
      @include animation(playing 0.2s infinite steps(6));
      @media #{$otherThanPhoneAndIpad} {
        @include animation(playing 0.5s infinite steps(6));
      }
    }
  }

  .logo-image {
    width: 280px;
    height: 220px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -140px;
    @include box-sizing(border-box);
    @include box-shadow(rgba(0,0,0,0.3) 0 0 30px 2px);

    background: {
      image: url(../img/spillmuseet_bart_inverse_new.svg);
      size: 280px auto;
      repeat: repeat-y;
      background-position: 0 0;
      @include transition(background-position 200ms linear, height 200ms linear);
    }
  }
}
.articles-container {
  width: 100%;
  position: relative;
  z-index: 1000;
  background-color: rgba(0,0,0,1);

  .articles {
    position: relative;
    z-index: 1002;

    @media #{$otherThanPhone} {
      width: 980px;
    }
    margin: 250px auto 0 auto;
    background-color: rgba(0,0,0,1);

    .main-navigation {
      position: absolute;
      width: 980px;
      left: 50%;
      margin-left: -490px;
      padding: 0;
      overflow: hidden;
      height: 58px;

      text-align: center;

      @include box-sizing(border-box);

      .tiny-logo {
        position: absolute;
        left: 0;
        top: -1px;
        background: {
          image: url(../img/spillmuseet-horizontal.svg);
          size: 178px 58px;
          position:  0 -58px;
          repeat: no-repeat;
        }
        width: 178px;
        height: 58px;
        @media #{$otherThanPhoneAndIpad} {
          @include transition(background-position 100ms linear);
        }
      }

      &.tiny {
        position: fixed;
        z-index:1000;
        top: -1px;
        background-color: rgba(0,0,0,0.6);
        .tiny-logo {
          background-position: 0 0;
          @media #{$otherThanPhoneAndIpad} {
            @include transition(background-position 100ms linear);
          }
          
        }
        border-bottom: 1px solid white;
        .main-navigation-items {
          margin-left: 174px;

          @media #{$otherThanPhoneAndIpad} {
            @include transition(margin-left 100ms linear);
          }
        }
      }

      .main-navigation-items {
        display: inline-block;
        padding: 0;
        margin: 0 0 0 0;
        list-style: none;
        @media #{$otherThanPhoneAndIpad} {
          @include transition(margin-left 100ms linear);
        }

        .navigation-item {
          position: relative;
          display: inline-block;
          overflow: hidden;

          a {
            color: white;
            font-family: $regularFont;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            @include text-shadow(rgba(0,0,0,0.2) 1px 1px 10px);
            

            .inner-item {
              position: relative;
              display: inline-block;
              padding: 15px 10px 15px 10px;

              &:before {
                /**
                content: "";
                position: absolute;
                background: {
                  color: rgba(0,0,0,0.6);
                }
                width: 90%;
                height: 4px;
                left: 5%;
                bottom: 8px;
                **/
              }
            }
          }
          &:hover {
            a {
              .inner-item {
                &:after {
                }
              }
            }
          }
        }
      }
    }

    .articles-list {
      list-style: none;
      padding: 100px 0 0 0;
      margin: 0;
      .article-container {
        @include box-sizing(border-box);
        padding: 10px;
        vertical-align: top;

        @media #{$otherThanPhone} {
          width: 50%;
          display: inline-block;
        }

        .article {
          margin-top: 40px;
          position: relative;

          h1 {
            color: rgba(255,255,255,0.8);
            padding: 0 20px 0 20px;
            font-size: 26px;
            margin-bottom: 0;
          }

          p {
            font-family: $thinFont;
            font-size: 20px;
            color: rgba(255,255,255,0.6);
            padding: 0 20px 0 20px;
            margin-top: 10px;
          }

          .category {
            position: absolute;
            top: 0;
            font-family: $thinFont;
            font-size: 14px;
            z-index: 100;
            padding: 5px 10px 5px 10px;
            text-transform: uppercase;
            color: white;
            margin-top: -18px;
            margin-left: 8px;

            &:after {
              position: absolute;
              content: "";
              background: {
                size: 20px 10px;
                repeat: no-repeat;
              }
              width: 20px;
              height: 10px;
              bottom: -10px;
              left: -5px;
            }
            &.anmeldelse {
              background-color: #E31515;
              &:after {
                background-image: url(../img/grey-flip.svg);
              }
            }
            &.toppliste {
              background-color: #E31515;
              &:after {
                background-image: url(../img/grey-flip.svg);
              }
            }

          }

          .comments {
            position: absolute;
            width: 50%;
            top: -22px;
            color: rgba(208,211,208,1);
            font-family: $thinFont;
            right: 0;
            text-align: right;
            border-bottom: 1px solid rgba(208,211,208,0.5);
            z-index: 100;

          }

          .main-image-container {
            height: 200px;
            position: relative;
            overflow: hidden;
            @include box-sizing(border-box);
            border: 1px solid rgba(255,255,255,0.5);

            .main-image {
              max-width: 100%;
              position: relative;
            }

            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              @include box-shadow(rgba(0,0,0,0.6) 0 0 60px 20px inset);
              @media #{$otherThanPhoneAndIpad} {
                @include transition(box-shadow 200ms linear);
              }
            }
            @media #{$otherThanPhoneAndIpad} {
              &:hover {
                &:after {
                  @include box-shadow(rgba(0,0,0,0.1) 0 0 60px 0px inset);
                  @include transition(box-shadow 200ms linear);
                }
              }
            }
          }
        }
      }
    }
  }
}
.main-article {
  padding: 100px 0 100px 0;
  h1 {
    color: rgba(255,255,255,0.8);
    font-family: $regularFont;
    font-size: 60px;
    margin-bottom: 20px;

  }
  h2 {
    color: rgba(255,255,255,0.4);
    font-family: $regularFont;
    font-size: 30px;
  }
  img {
    max-width: 100%;
    padding: 5px;
    border: 1px solid rgba(255,255,255,0.4);
    margin: 10px;
  }
  .main-image-container {
    max-height: 600px;
    overflow: hidden;
    border: 0;
    margin:0;
    padding: 0;
    img {
      border: 0;
      padding: 0;
      margin:0;
    }
  }
  p {
    padding: 0 100px 20px 100px;
    font-size: 20px;
    color: rgba(255,255,255,0.6);
    font-weight: normal;
    font-family: $thinFont;
    line-height: 1.5em;

  }
}

a {
  color: #E31515;
  text-decoration: none;
}